@using System.Web.Optimization;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>@RenderSection("Title")</title>

    @Styles.Render("~/Content/css")
</head>

<body>
    @RenderSection("NavBar")

    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content">
        @RenderBody()
        <p style="text-align:center;">
            <img src="Content/images/poweredby.png" style="width:100%; max-width: 721px;" alt="powered by national rail enquiries" />
            <br />
            <a href="http://twitter.com/blueghostuk" data-ignore="push" target="_blank">
                Contact via twitter @@blueghostuk
            </a>
        </p>
    </div>

    @RenderSection("Footer")

    @Scripts.Render("~/bundles/libs")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/app-pages")

    <script type="text/javascript">
        if ('ontouchstart' in window) {

        } else {
            var fingerBlast = new FingerBlast('body');
        }
    </script>

    @RenderSection("AdditionalJs", required: false)
</body>
</html>
