@using System.Web.Optimization;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>xcitybrum</title>

    @Styles.Render("~/Content/css")
</head>

<body>
    @RenderSection("NavBar")

    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content">
        @RenderBody()
    </div>

    @RenderSection("Footer")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/underscore")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/ratchet")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/app")

    @RenderSection("AdditionalJs", required: false)
</body>
</html>
